 
#screenAnimation {
margin-left: 4%;
    height: 300px;
    width:600px;
	margin-top:100px; 
    position:relative;
	 
}
#screenAnimation img {
    border:0;
}
#screenAnimation .feature {
    position:absolute;
    top:-1000px;
    left:-1000px; 
    cursor:pointer;
}
.feature
{
	/*-webkit-box-reflect:below 0
	-webkit-gradient(linear, left top, left bottom, from(transparent),color-stop(0.6, transparent), to(#ff0000) );*/
}
#screenAnimation .feature > div {
    position:absolute;
    bottom:0px;
    left:0px;
    background-color:black;
    width:100%;
} 
 
 
 
 